.main-div {
    /* display: flex; */
    /* justify-content: space-evenly; */
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.input-output-flexbox {
    display: flex;
    column-gap: 20px;
    /* align-items: center; */
    justify-content: center;
}